<table cellspacing="0" cellpadding="0">
<tr>
<td id="leftbar">
<%= render :partial => "main/logo" %>
<%= render :partial => "users/menu" %>
</td>
<td>
<blockquote>
<table cellspacing="2" cellpadding="2" class="www">
<tr>
 <td><%= link_to "create a new city", new_city_path %></td>
</tr>
<tr>
  <th>CITY</th>
  <th>SEO URL</th>
</tr>
<% for city in @cities %>
<tr style="background:white;color:green;font-weight:bold;font-size:13px;">
<td><%= city.name %></td>
<td><%= city.permalink %></td>
    
<td><%= link_to 'Edit', edit_city_path(city) %></td>
<td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>

</tr>
<% end %>
</table>
<br />
</blockquote>
</td>
</tr>
</table>
