  <%form_tag 'mainsearch', :method=>'get' do %>
  <table width="100%" cellpadding="2" id="categorysearch">
  <tr>
  <td align="right">search for:</td> 
  <td>
    <%= text_field_tag :mainquery, params[:mainquery] %> in
    <%= collection_select(:category, :id, Category.list, :id, :name) %>    
    <%= radio_button_tag "adtype","O", :checked=>true %>Offered
    <%= radio_button_tag "adtype","W" %>Wanted 
    &nbsp;<%= submit_tag "search"%>
  </td>
  </tr>
  </table>
  <% end %>